@tailwind base;
@tailwind components;
@tailwind utilities;


.headerBackground{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/audiophile-ecommerce-e6a79.appspot.com/o/assests%2Fhome%2Fdesktop%2Fimage-hero.jpg?alt=media&token=a8515aaa-0b65-44e7-bbdb-f12af6f98744');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 10%;
}

.backgroundSvg{
   background-image: url('./assets/pattern-circles.svg');
   background-size: 100% 100%;
    background-repeat: no-repeat;
}

.backgroundImage{
    background-image: url('./assets/image-speaker-zx7.jpg');
    background-repeat: none;
    background-size: 100% 100%;
}

.imageContainer{
    height: 45%;
    width: 90%;
}

.signinContentContainer{
    height: 90%;
    width: 90%;
}

@media screen and (max-width: 1024px){
    .headerBackground{
        background-image: url('./assets/image-header.jpg');
        background-size: 100%;
        background-position: 60%;

    }
    .backgroundImage{
        background-image: url('https://firebasestorage.googleapis.com/v0/b/audiophile-ecommerce-e6a79.appspot.com/o/assests%2Fhome%2Ftablet%2Fimage-speaker-zx7.jpg?alt=media&token=bc3de98e-71fa-4895-9a5a-0ca8f474116d');
        background-repeat: none;
        background-size: 100% 100%;
    }
}
@media screen and (max-width: 1024px){
    .backgroundSvg{
        background-image: url('./assets/pattern-circles-tablet.svg');
        background-size: 100% 100%;
         background-repeat: no-repeat;
     }
}

@media screen and (max-width: 640px){
    .headerBackground{
        background-image: url('./assets/image-header-mobile.jpg');
        background-size: 100%;
    }

    .backgroundSvg{
        background-image: url('./assets/pattern-circles-tablet.svg');
        background-size: 100% 100%;
         background-repeat: no-repeat;
     }

     .backgroundImage{
        background-image: url('./assets/image-speaker-zx7-mobile.jpg');
     }
}
